.navbar-default {
  background: $navbarColor !important;
  border: none;

  width: 100%;

  a {
    transition: opacity 0.15s;
    margin-right: 0;
    color: white !important;

  }

  a:hover,
  a:hover {
    opacity: 0.8;
  }
}

body {
  margin-top: 50px;
}