<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
    <div class="col-sm-7">
      <ul class="nav navbar-nav ">
        <%= render correct_nav_links_path %>
      </ul>
    </div>
</nav>